
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4 pb-1">Leave Management System with ASP.NET Core 3.1</h1>
    <p class="lead">This project is a culmination of my practice with the following list:</p>
    <hr class="my-4">
    <ul>
        <li class="pt-3"><strong>.NET Core 3.1</strong></li>
        <li class="pt-3"><strong>ViewModels and AutoMapper</strong></li>
        <li class="pt-3"><strong>Entity Framework, Code First</strong></li>
        <li class="pt-3"><strong>Dependency Injection</strong></li>
        <li class="pt-3"><strong>Repository Pattern</strong></li>
        <li class="pt-3"><strong>Identity and Authentication</strong></li>
        <li class="pt-3"><strong>Bootstrap 4 and AdminLTE</strong></li>
        <li class="pt-3"><strong>Client and Server Side Validation</strong></li>
        <li class="pt-3"><strong>Linq Queries and Lambda Expressions</strong></li>
    </ul>

</div>
